.GameTile {
  background-color: purple;
  border-radius: 6px;
  border: 3px solid;
  border-bottom-color: rgb(46, 1, 46);
  border-right-color: rgb(46, 1, 46);
  border-left-color: rgb(184, 1, 184);
  border-top-color: rgb(184, 1, 184);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  cursor: default;
  transition: all 0.3s ease-in-out;

  &__clicked {
    background-color: burlywood;
    border-bottom-color: rgb(248, 227, 200);
    border-right-color: rgb(248, 227, 200);
    border-left-color: rgb(143, 117, 84);
    border-top-color: rgb(143, 117, 84);
  }

  &__flagged {
    color: white
  }

  &:hover {
    background-color: rgb(236, 6, 236);
  }

  &__number {
    &--1 {
      color: black;
    }

    &--2 {
      color: red;
    }

    &--3 {
      color: orange;
    }

    &--4 {
      color: yellow;
    }

    &--5 {
      color: green;
    }

    &--6 {
      color: blue;
    }

    &--7 {
      color: indigo;
    }

    &--8 {
      color: violet
    }
  }
}