.GamePage {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  position: relative;
  width: 100%;
  margin: 0 auto;

  &__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__infoBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  
  
}