.Landing {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  font-size: 30px;

  &__game {
    position: absolute;
    transition: all;
    transition-delay: 0.3s;
    
    &--begin {
      left: 0;
    }

    &--end {
      animation-name: gameButton;
      animation-duration: 0.4s;
      animation-fill-mode: backwards;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }
  }

  &__gameDifficulty {
    &--easyStart,
    &--easyEnd,
    &--mediumStart,
    &--mediumEnd,
    &--hardStart,
    &--hardEnd {
      position: absolute;
      transform: translateX(-50%);
    }
    &--easyStart {
      top: 50%;
    }

    &--easyEnd {
      top: 25%;
      animation-name: gameEasyButton;
      animation-duration: 1s;
    }

    &--mediumStart {
      top: 50%;
    }

    &--mediumEnd {
      top: 50%;
    }

    &--hardStart {
      top: 50%;
    }

    &--hardEnd {
      top: 75%;
    }
  }

  &__score {
    position: absolute;
    transition: all;
    transition-delay: 0.3s;
    
    &--begin {
      right: 0;
    }

    &--end {
      animation-name: scoreButton;
      animation-duration: 0.4s;
      animation-fill-mode: backwards;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }
  }

}



@keyframes gameButton {
  0% {
    left: 0;
    opacity: 1;
  }

  // 25% {
  //   opacity: 0.5;
  // }

  // 40% {
  //   left: 25%;
  // }

  50% {
    opacity: 0;
  }

  80% {
    left: 50%;
  }

  100% {
    display: none;
  }
}

@keyframes gameEasyButton {
  0% {
    opacity: 0;
    top: 50%;
  }

  // 25% {
  //   opacity: 0.5;
  // }

  // 40% {
  //   top: 35%;
  // }

  50% {
    opacity: 1;
  }

  80% {
    top: 20%;
  }

  100% {
    top: 25%;
  }
}

@keyframes scoreButton {
  0% {
    right: 0;
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  40% {
    right: 25%;
  }

  50% {
    opacity: 0;
  }

  80% {
    right: 50%;
  }

  100% {
    display: none;
  }
}